.chatWrapper {
  height: 100%;
}

.chatContainer {
  padding: 0 0 24px 24px;
  box-sizing: border-box;
  height: 100%;
  .messageContainer {
    overflow-y: auto;
    padding-right: 24px;
  }
}

.predefinedPromptsWrapper {
  width: 100%;
  padding-right: 24px; // To align with the right padding of messageContainer
}

.predefinedPromptsContainer {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f0f2f5;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.promptButton {
  margin: 4px;
}